html{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #f1f1f3;
}

*{
    font-family: "Fira Sans", serif;
}

.btn-primary{
    color:white;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border: 1px solid #006A50;
    cursor: pointer;
}

.btn-primary:hover{
    color: #006A50;
    background-color: white;
    border: 1px solid #006A50;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top:80px;
    margin-bottom:24px;
}

.section-description{
    font-size: 16px;
    color: rgba(14,14,14,.7);
}


/* header section */
header{
    padding:24px 160px;
    /*width: 100%;*/
    margin: 0px auto;
    height: 100px;
    width: 1600px;
    background-color: #f1f1f3;
}

header nav{
    display: flex;
    justify-content: space-between;
}

/* nav */
nav h2{
    font-weight: bold;
    font-style: 32px;
    color: #0E0E0E;
}

nav button{
    border-radius: 8px;
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

nav button:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: #006A50
}


/* main */
main{
    width: 1600px;
    background-color: #f1f1f3;
    margin: 0px auto;
    padding: 20px 160px 0px;
}


/* banner section*/
.banner{
    background-color:#C6E4D6;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    padding: 80px 100px;
    justify-items:center;
    gap:64px;
    height: 560px;
}

.banner .content{
    width: 622px;
    align-content: center;
}
.banner .content .title{
    color: #0E0E0E;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.banner .content .description{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

.banner img{
    align-items: center;
}


/* pillars section */
.section-pillars{
    margin: 80px 0px 0px;
}

.cards-block{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.pillars-card{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, .15);
    width:25%;
}

.pillars-card h3{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, .8);
}

.pillars-card p{
    font-size: 16px;
    color: rgba(14, 14, 14, .7);
    line-height: 24px;
}

/* vision section */
.section-vision{
    margin: 80px 0px;
}
.vision{
    margin: 32px 0px;
    display: flex;
    gap:24px;
    justify-content: space-between;
}

.vision img{
    width: 64px;
    height: 64px;
}

.vision-card1{
    background-color: rgba(84, 144, 255, .2);
    padding: 32px;
    border-radius: 16px;
    width:33%;
}

.vision-card2{
    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
    width:33%;
}

.vision-card3{
    background-color: rgba(247, 235, 207, 1);
    padding: 32px;
    border-radius: 16px;
    width:33%;
}

.card-title{
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 12px;
    font-weight: bold;
    color: rgba(14, 14,14,.8);
}

.card-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, .7);
    margin-bottom: 32px;
}

.card-btn{
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.card-btn-bg1{
    background-color: #5490F5;
    border:1px solid #5490F5;
}
.card-btn-bg2{
    background-color: #09A15C;
    border:1px solid #09A15C;
}
.card-btn-bg3{
    background-color: #FFC239;
    border:1px solid #FFC239;
}

.card-btn-bg1:hover{
    color: #5490F5;
    background-color: white;
    border:1px solid #5490F5;
}
.card-btn-bg2:hover{
    color: #09A15C;
    background-color: white;
    border:1px solid #09A15C;
}
.card-btn-bg3:hover{
    color: #FFC239;
    background-color: white;
    border:1px solid #FFC239;
}

.quote{
    background: url('../assets/quote-bg.png'),white;
    border-radius: 8px;
    background-position: left 24px top 32px, right top;
    background-repeat: no-repeat, repeat;
    padding: 48px 24px;
}

.quote-text1{
    font-size: 16px;
    color: rgba(14, 14,14,.8);
    line-height: 24px;
}

.quote-text2{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14,14,.8);
    line-height: 24px;
}

.quote-text3{
    font-size: 16px;
    color: rgba(14, 14,14,.6);
    line-height: 24px;
}

/* news section */
.section-news{
    margin: 80px 0px;
}


.news{
    display: flex;
    justify-content: space-between;
    gap:32px;
    background-color: white;
    border-radius: 24px;
    padding: 48px 32px;
    margin-bottom: 24px;
}

.news .news-img{
    border-radius: 24px;
}

.news .news-img2{
    width: 134px;
    padding: 12px 0px;
}

.news .news-content h4{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14,14,.8);
    padding: 0px;
    margin: 0px;
}

.news .news-content p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14,14,.7);
}

.news .news-content .p-text1{
    padding-bottom: 12px;
}

.news .news-content .p-text2{
    padding-bottom: 32px;
}

/* newsletter section */
.newsletter{
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    text-align: center;
    margin: 80px auto;
}

.newsletter .newsletter-content{
    width: 622px;
    text-align: center;
    margin: 0px auto;
}

.newsletter .newsletter-content h2{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    text-align: center;
}

.newsletter .newsletter-content p{
    font-size: 16px;
    color: rgba(14, 14,14,.7);
    text-align: center;
    line-height: 24px;
}

.newsletter .newsletter-content form{
    display: flex;
}
.newsletter .newsletter-content input[type=submit]{
    border-radius: 0px 8px 8px 0px;
}

.newsletter .newsletter-content input[type=text]{
    width: 600px;
    color: rgba(14, 14,14,.4);
    background-color: white;
    padding: 18px 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
}

.newsletter .newsletter-content input[type=text]:focus{
    border: none;
    outline: none;
}

/* donate section*/
.form-donate{
    margin: 0px auto;
    padding: 0px auto;
    text-align: center;
}

.form-donate input[type=radio]{
    display: none;
    height: 1px;
    width: 1px;
}

.form-donate label{
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    color: rgba(14, 14,14,.8);
    display: inline-block;
    margin: 32px 24px;
    font-size: 40px;
    font-weight: bold;
}

.form-donate .donate_amount:checked+label{
    background-color: #C6E4D6;
}

.form-donate .donate_amount:hover+label{
    background-color: #C6E4D6;
}

.form-donate input[type=text]{
    width: 1032px;
    color: rgba(14, 14,14,.4);
    background-color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    margin: 0px auto;
    display: block;
    text-align: center;
}

.form-donate input[type=text]:focus{
    border: none;
    outline: none;
}

.form-donate input[type=submit]{
    margin-top: 32px;
}

/* footer section*/
footer{
    background-color: white;
    padding: 0px auto;
    width: 100%;
    margin: 0px auto;
}

footer h2{
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 0px auto;
}

footer hr{
    width:1122px;
    border-top: 1px solid rgba(14,14,14,.1);
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 100%;
}

footer .social{
    display: flex;
    gap:23px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin: 0px auto;
}

footer .social img{
    width:24px;
    height:24px
}