html{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #f1f1f3;
}
:root {
    --primary-color:#0E0E0E;
}

*{
    font-family: "Fira Sans", serif;
}

.btn-primary{
    color:white;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.btn-primary:hover{
    color: #006A50;
    background-color: white;
}

.text-left{
    text-align: left;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom:24px;
}

.section-description{
    font-size: 16px;
    color: rgba(14,14,14,.7);
}

header{
    padding:24px 160px;
    /*width: 100%;*/
    margin: 0px auto;
    height: 100px;
    width: 1600px;
    background-color: #f1f1f3;
}

header nav{
    display: flex;
    justify-content: space-between;
}

nav h2{
    font-weight: bold;
    font-style: 32px;
    color: var(--primary-color);
}

nav button{
    border-radius: 8px;
    padding: 15px 30px;
    color: #006A50;
    border-color: #006A50;
    font-size: 18px;
    font-weight: 600;
}

main{
    width: 1600px;
    background-color: #f1f1f3;
    margin: 0px auto;
    padding: 20px 160px;
}

.banner{
    background-color:#C6E4D6;
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    padding: 80px 100px;
    justify-items:center;
    gap:64px;
    height: 560px;
}

.banner .content{
    width: 622px;
    align-content: center;
}
.banner .content .title{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.banner .content .description{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

.banner img{
    /*height: 400px;*/
    align-items: center;
}

.vision{
    margin: 0px auto;
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
    gap:24px;
}

.vision-card1{
    background-color: rgba(84, 144, 255, .2);
    padding: 32px;
    border-radius: 16px;
}

.vision-card2{
    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
}

.vision-card3{
    background-color: rgba(247, 235, 207, 1);
    padding: 32px;
    border-radius: 16px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, .8);
}

.card-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, .7);
}

.card-btn{
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: white;
    font-weight: 600;
}

.card-btn-bg1{
    background-color: #5490F5;
}
.card-btn-bg2{
    background-color: #09A15C;
}
.card-btn-bg3{
    background-color: #FFC239;
}

footer{
    background-color: white;
    padding: 0px auto;
    width: 100%;
    margin: 0px auto;
}

footer h2{
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
}

footer hr{
    width:1122px;
    border-top: 1px solid rgba(14,14,14,.1);
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
footer .social{
    display: flex;
    gap:23px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

footer .social img{
    width:24px;
    height:24px
}